.events {
    margin: 0;
    padding: 0;
    list-style: none;

}
.events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notes-month {
    font-size: 28px;
    text-align: center;
}
.notes-month section {
    font-size: 28px;
}
.delete{
left: 20px;
    top: 3px;
color: dimgray;
    font-size: 100%   ;
}

.text{
    margin-top: 5px;
    /*margin-bottom: 35px;*/
}
.addButton{
    bottom: 26px;
}
.sider-sign{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.head{
    left: 10px;
}
.loadbutton{
    left: 42px;
}

